
.sidebar{
    width: 260px;
    height: 100%;
    background-color: #ddd;
}
.css-dhaba5 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 20px;
}
.title{
    font-size: 22px;
    color: #fff;
}